:root {
    --color-primary: #061A48;
    --color-secondary: #f6f6f6;
    --color-accent: #e95e27;
    --color-body: #6D717A;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5 of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: var(--color-body);
    line-height: 1.5;
    --font-size-small: 1.2rem;
    --font-size-big: 1.6rem;
}

h1,
h2,
h3 {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

h1 {
    /* 1 x font size of the html element */
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 6.4rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }
}

/* Buttons */
.btn {
    font-size: .9rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
    margin: 1rem 0;
    text-decoration: none;
}

.btn--streched {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem 3rem 1.5rem;
}

.btn--primary {
    background: var(--color-accent);
    color: #fff;
}

.btn--primary:hover {
    background-color: #e47448;
}

.btn--secondary {
    background: #D9D9D9;
    color: var(--color-primary);
}

.btn--secondary:hover {
    background: var(--color-accent);
    color: #fff;
}

/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__testimonial {
    background-color: #F4C095;
}

.block__decision {
    background-color: var(--color-secondary);
}

.block__heading {
    margin-top: 0;
    text-align: center;
}

/* Grid */
.grid {
    display: grid;
    gap: 1rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Decision */
.decision__img {
    float: left;
}

.decision__text {
    text-align: left;
    overflow: hidden;
}

.decision__heading {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0;
}

.decision__paragraph {
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
    .decision__heading,
    .decision__paragraph {
        font-size: var(--font-size-big);
    }
}

/* Testimonials */
.testimonial__heading,
.testimonial__paragraph {
    color: #333;
}

.testimonial__heading {
    font-size: var(--font-size-big);
    font-weight: 500;
}

.testimonial__paragraph {
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .testimonial__heading {
        font-size: 2.2rem;
    }

    .testimonial__paragraph {
        font-size: 1.8rem;
    }
}


/* Hero */
.hero {
    background: var(--color-secondary);
}

.hero__content {
    color: var(--color-body);
    text-align: left;
    align-self: center;
    margin-left: 5rem ;
}

.hero__heading {
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: 0;
}

.hero__paragraph {
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.hero__image {
    margin: 3rem 0 3rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero__heading {
        letter-spacing: 0;
    }

    .hero__paragraph {
        font-size: 1.8rem;
    }
}