<section class="about">
    <h2 class="about__heading">
        Why choose us?
    </h2>
    <div class="accordion">
        <input type="checkbox" id="section1">
        <label for="section1" class="accordion-label">
            Pick up jobs for free
          <span class="icon">+</span>
        </label>
        <div class="accordion-content">
          <p>There's plenty of work available in the UK, so rather than paying websites to gain work, why not sign up with Fix My Build and pick up jobs at your convenience for free?</p>
        </div>
    
        <input type="checkbox" id="section2">
        <label for="section2" class="accordion-label">
          Decide the work you want to do
          <span class="icon">+</span>
        </label>
        <div class="accordion-content">
          <p>Unlike other platforms and online directories, there's no registration fee, no membership fee, and no fees for leads. You have full control over the type and amount of work you want to take on.</p>
        </div>

        <input type="checkbox" id="section3">
        <label for="section3" class="accordion-label">
          Grow your business without any hidden cost
          <span class="icon">+</span>
        </label>
        <div class="accordion-content">
          <p>We believe that companies shouldn't have to pay money to simply be visible on the internet, or to provide customers a free estimation service. That's why we don't charge you for writing estimates for free, or for delivering them to customers. We only add a very small capped platform fee on top of your estimates, which is at most either 5% + VAT (i.e. 6%) of your total esimate, or £50 + VAT (i.e. £60), which is less. This means even if you create an estimate for £40,000 we add £60 on top, and the customer would recieve an estimate for £40,060.</p>
        </div>
    </div>
</section>