<section class="block block__decision">
    <div class="block__heading">
        <h2>
            Decide the work you want to do
        </h2>
    </div>

    <div class="grid grid--1x2 container">
        <div class="decision">
            <figure class="decision__img">
                <img src="images/graphic-1.png " alt="Person on a tour">
            </figure>
            <div class="decision__text">
                <h4 class="decision__heading">Customers submit project requests</h4>
                <p class="decision__paragraph">
                    We work with customers to help them to elaborate on their requirements, making details clearer and including measurements wherever possible.
                </p>
            </div>
        </div>

        <div class="decision">
            <figure class="decision__img">
                <img src="images/graphic-2.png " alt="Person on a tour">
            </figure>
            <div class="decision__text">
                <h4 class="decision__heading">Write an estimate</h4>
                <p class="decision__paragraph">
                    Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software. You can reach out to the customer (for free) for example if you have any questions about the job, or if you need to visit their property to inspect the work to be done in advance of writing any estimates.
                </p>
            </div>
        </div>
    </div>

    <div class="grid grid--1x2 container">
        <div class="decision">
            <figure class="decision__img">
                <img src="images/graphic-3.png " alt="Person on a tour">
            </figure>
            <div class="decision__text">
                <h4 class="decision__heading">Undertake the work</h4>
                <p class="decision__paragraph">
                    If the customer is happy with the estimate the project is yours!
                </p>
            </div>
        </div>

        <div class="decision">
            <figure class="decision__img">
                <img src="images/graphic-4.png " alt="Person on a tour">
            </figure>
            <div class="decision__text">
                <h4 class="decision__heading">Get paid by the customer</h4>
                <p class="decision__paragraph">
                    As soon as the customer makes a payment, money is sent to your UK bank account.
                </p>
            </div>
        </div>
    </div>
</section>