<section class="block hero">
    <div class="grid grid--1x2 container">
        <header class="hero__content">
            <h1 class="hero__heading">Pick up jobs for free</h1>
            <p class="hero__paragraph">There's plenty of work available in the UK, so rather than paying websites to gain work, why not sign up with Fix My Build and pick up jobs at your convenience for free?</p>
            <a href="#" class="btn btn--primary btn--streched">Apply Today</a>
        </header>
        <picture>
            <img class="hero__image" src="images/hero.png" alt="">
        </picture>
    </div>
</section>