<header class="header">
    <a href="/" class="logo">
        <img src="images/logo..png" alt="">
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
        <li><a href="#">Start</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Search trades</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#"><img src="images/user-icon.png" alt="logo">Login</a></li>
        <li><a href="#" class="btn" id="btn--secondary">Register</a></li>
    </ul>
</header>
<header class="header-desktop">  
    <div class="navigation--desktop container">
        <ul class="menu--desktop">
            <li><a href="#">Start</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Search trades</a></li>
            <li><a href="#">Guides</a></li>
        </ul>
        
        <div class="logo">
            <a href="#">
                <img src="images/logo..png" alt="logo">
            </a>
        </div>

        <ul class="user">
            <li><a href="#"><img src="images/user-icon.png" alt="logo">Login</a></li>
            <li><a href="#" class="btn" id="btn--secondary">Register</a></li>
        </ul>
    </div>
</header>