<header class="header">  
    <div class="navigation container">

        <input type="checkbox" class="toggle-menu">
        <div class="hamburger"></div>

        <ul class="menu">
            <li><a href="#">Start</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Search trades</a></li>
            <li><a href="#">Guides</a></li>
        </ul>

        <div class="logo">
            <a href="#">
                <img src="images/logo..png" alt="logo">
            </a>
        </div>

        <ul class="user">
            <li><a href="#"><img src="images/user-icon.png" alt="logo">Login</a></li>
            <li><a href="#" class="btn btn--secondary">Register</a></li>
        </ul>
    </div>
</header>