<section class="block block__testimonial">
    <div class="container">
        <div class="block__heading">
            <h2>
                Testmonials
            </h2>
        </div>
        <div class="carousel">
            <div class="slider">
                <section>
                    <p class="testimonial__paragraph">
                        Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
                    </p>
                    <h3 class="testimonial__heading">
                        Kyla Harmon
                    </h3>
                </section>
                <section>
                    <p class="testimonial__paragraph">
                        Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
                    </p>
                    <h3 class="testimonial__heading">
                        Ryan Menzie
                    </h3>
                </section>
                <section>
                    <p class="testimonial__paragraph">
                        Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
                    </p>
                    <h3 class="testimonial__heading">
                        Aldrich Fowler
                    </h3>
                </section>
                <section>
                    <p class="testimonial__paragraph">
                        Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
                    </p>
                    <h3 class="testimonial__heading">
                        Aldrich Fowler
                    </h3>
                </section>
            </div>
            <div class="controls">
                <span class="arrow left">
                    <span class="material-icons">
                    chevron_left
                    </span>
                </span>
                <span class="arrow right">
                    <span class="material-icons">
                    chevron_right
                    </span>
                </span>
                <ul>
                    <li class="selected"></li>
                    <li class="selected"></li>
                    <li class="selected"></li>
                    <li class="selected"></li>
                </ul>
            </div>
        </div>
    </div>
</section>