<section class="block block__testimonial">
    <div class="block__heading">
        <h2>
            Testmonials
        </h2>
    </div>

    <div class="grid grid--1x3">
        <div>
            <p>
                Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
            </p>
            <h3>
                Kyla Harmon
            </h3>
        </div>
        <div>
            <p>
                Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
            </p>
            <h3>
                Ryan Menzie
            </h3>
        </div>
        <div>
            <p>
                Estimates are written to our website and delivered to customers. This saves you money by not requiring separate estimation and invoicing software.
            </p>
            <h3>
                Aldrich Fowler
            </h3>
        </div>
    </div>
</section>